html, body, #root {
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  background: linear-gradient(
    313deg,
    rgba(171, 255, 249, 1) 0%,
    rgba(86, 205, 255, 1) 100%
  );
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  overflow: auto; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; 
  margin: 1.2rem;
  width: 100vw;
}

@media (max-width: 600px) {
  .main {
    width: 90%;
  }
}

@media (min-width: 600px) {
  .main {
    width: 50%;
  }
}
